---
import Layout from "../layouts/Layout.astro";
import { getPokemon } from "../services/pokemonFetch";

const pokemonsData = await getPokemon();

console.log(pokemonsData);
---

<Layout>
  <div class="container">
    <section
      class="w-[70%] mx-auto py-10 px-10 grid grid-cols-2 items-center justify-items-center"
    >
      <h1 class="w-110 text-cyan-700">
        Rien n'est plus fort que le lien qui unit un Pokémon à son dresseur.
      </h1>
      <img
        src="/src/assets/images/pokeball.jpg"
        alt="Pokeball"
        class="w-100 rounded-4xl"
      />
    </section>
    <div>
      {pokemonsData.map((pokemon) =>
        <h2>{pokemon.name}</h2>
        <img src={pokemon.image} alt={pokemon.name} />
          <div>{pokemon.types.map((type) =>
          <h3>{type.name}</h3>
          <img src={type.image} alt={type.name} />
          )}</div>
      )}
    </div>
  </div>
</Layout>
